.navbar{
    font-size: 22px;
}

/*
Credit to atrepp on StackOverflow for centering images inside a carousel
https://stackoverflow.com/users/1517028/atrepp
https://stackoverflow.com/questions/10591422/bootstrap-carousel-image-doesnt-align-properly
August 19, 2017
*/
.carousel-inner > .item > img {
    margin: 0 auto;
}

.col-md-4, .col-md-8{
    padding-bottom: 100px;
    color:white;

}

.col-md-4{
    padding-left: 10px;
}

#theDescription, #theInfo{
    padding-left: 1.5em;

}



#theData{
    padding-left: 3em;
}

body{
    background-image: url(watercolor.jpg);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.holdsAll{
    background: black;
    padding-top: 5px;
}

#titletext, #descriptionText, #infoText {
    font-family: 'Dosis', sans-serif;
}

#titletext{
    text-align: center;
    color: white;
    font-size: 56px;
    padding-bottom: 20px;
    line-height:35px;
}

#descriptionText, #infoText{
    line-height: 3px;
    padding-bottom: 0.5em;
}

#picCarousel{
    border-bottom: solid black 3em;

}

.carousel-indicators li {
    visibility: hidden;
}


/*
Credit to Ross Angus for css to make a border between columns
https://stackoverflow.com/users/2841890/ross-angus
https://stackoverflow.com/questions/11815081/how-can-i-add-a-line-between-two-columns-using-twitter-bootstraps-grid-system
August 19, 2017
*/
.border-between > [class*='col-']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

/*
Make images same height so that the carousel does not bounce on change
 */

#picCarousel{
    min-height: 700px;
}