.navbar{
    font-size: 22px;
}

/*
Credit to atrepp on StackOverflow for centering images inside a carousel
https://stackoverflow.com/users/1517028/atrepp
https://stackoverflow.com/questions/10591422/bootstrap-carousel-image-doesnt-align-properly
August 19, 2017
*/
.carousel-inner > .item > img {
    margin: 0 auto;
}

.col-md-4, .col-md-8{
    padding-bottom: 50px;
    color:white;

}

.col-md-4{
    padding-left: 10px;
}

#theDescription{
    padding-left: 1.5em;
    padding-right: 1em;
    font-family: 'Didact Gothic';
    font-size: 18px;

}

#theInfo{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
}

#theData{
    text-align: center;
    font-family: 'Didact Gothic';
    font-size: 18px;
}

body{
    background-image: url(watercolor.jpg);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.holdsAll{
    background: black;
    padding-top: 5px;
}

#titletext, #descriptionText, #infoText {
    font-family: 'Dosis', sans-serif;
}

#titletext{
    text-align: center;
    color: white;
    font-size: 56px;
    padding-bottom: 20px;
    line-height:35px;
}

#descriptionText, #infoText{
    line-height: 3px;
    padding-bottom: 5px;

}

#infoText{
    text-align: center;
}

#picCarousel{
    border-bottom: solid black 3em;

}

.carousel-indicators li {
    visibility: hidden;
}


/*
Credit to Ross Angus for css to make a border between columns
https://stackoverflow.com/users/2841890/ross-angus
https://stackoverflow.com/questions/11815081/how-can-i-add-a-line-between-two-columns-using-twitter-bootstraps-grid-system
August 19, 2017
*/
.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
    width: 3px;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

hr{
    color: white;
    border: solid 1.5px white;
    width: 100%;

}

.mrpadding{
    padding-bottom: 30px;
}



/*
below are for the navbar
*/

.nav-justified > .active{
    background-color: indigo;
}
li{
    font-family: 'Dosis', sans-serif;
}

.nav-justified > li > a{
    color:white;
}

.nav-justified > li.artNav > a:hover {
    background: url('Halsemon-icon.jpg') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}

.nav-justified > li.homeNav > a:hover {
    background: url('home-icon.png') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}

.nav-justified > li.codeNav > a:hover {
    background: url('notaborealis-icon.png') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}