#introtext{
    font-family: 'Dosis', sans-serif;
    color: black;
}

.aboutme{
    font-family: 'Dosis', sans-serif;
    color:white;
}

#minitext{
    font-family: 'Didact Gothic';font-size: 22px;
    font-color:grey;
}

#paragraph{
    font-family: 'Didact Gothic';font-size: 18px;
    padding-top: 1em;
    height:400px;
    overflow-y:scroll;
}

.introcontainer{
    vertical-align: bottom;
}


body{
    background-image: url(watercolor.jpg);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*
Credit to Derek Story for his solution to centered, unstretched circle-images.
https://stackoverflow.com/users/2479962/derek-story
https://stackoverflow.com/questions/32477563/css-fit-rounded-circle-image-do-not-stretch-it
@ July 20, 2017
 */
.myimg{
    background-image: url(jillianlovas.jpg);
    display:block;
    margin-left: auto;
    margin-right: auto;

    width: 500px;
    height: 500px;
    -webkit-border-radius: 500px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 500px;
    -moz-background-clip: padding;
    border-radius: 500px;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;

    border: solid 1.5em black;
}

#artlink, #homelink, #programminglink{
    text-align: center;
    /*transform: skewX(-20deg);
    background-color: yellowgreen;
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;
*/
}

#artlink:hover, #homelink:hover, #programminglink:hover{
    /*position:relative;*/
    text-decoration: none;
    top:10px;
    display: inline-block;

}

.jumbotron{
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 68, 68, 0);
}

.card-block{
    border: solid 3px black;
    border-radius: 25px;

    padding: 10px;
    color:white;
}

.aboutarea{
    background-color: black;
}

.padme{
    padding-top: 2em;
}

.bgcredit{
    text-align: center;

}

.navbar{
    font-size: 22px;
}



/*
below are for the navbar
*/

.nav-justified > .active{
    background-color: indigo;
}
li{
    font-family: 'Dosis', sans-serif;
}

.nav-justified > li > a{
    color:white;
}

.nav-justified > li.artNav > a:hover {
    background: url('Halsemon-icon.jpg') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}

.nav-justified > li.homeNav > a:hover {
    background: url('home-icon.png') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}

.nav-justified > li.codeNav > a:hover {
    background: url('notaborealis-icon.png') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}