h1{
    color: deeppink;
}

body{
    background-color: mediumpurple;
}

img{
    border: #000000;
    border-width: 5em;
}

#menubar{
    text-align: center;
    transform: skewX(-20deg);
    background-color: coral;
}

#menubar a:hover{ /*col-sm-4????*/
    text-decoration: none;
    -webkit-animation: emphasis 5s infinite; /* Safari 4.0 - 8.0 */
    animation: emphasis 5s infinite;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes emphasis {
    from {top: 0px;}
    to {top: 200px;}
}

/* Standard syntax */
@keyframes emphasis {
    from {top: 0px;}
    to {top: 200px;}
}