h1{
    color: pink;
}

body{
    background-color: mediumpurple;
}

img{
    border: #000000;
    border-width: 5em;
}

#artlink, #homelink, #programminglink{
    text-align: center;
    transform: skewX(-20deg);
    background-color: yellowgreen;
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;
}

#artlink:hover, #homelink:hover, #programminglink:hover{
    /*position:relative;*/
    text-decoration: none;
    top:10px;
    display: inline-block;

}

.jumbotron{

}