.artboxes{
    background: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
Opacity transformation by c.bavota
https://bavotasan.com/about/
https://bavotasan.com/2011/a-simple-fade-with-css3/
*/
.handmadeCrop{
    position:relative;
    border: solid 1px white;

    width: 350px;
    height: 350px;
    overflow: hidden;
    opacity:0.5;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

@media(max-width: 1199px){
    .handmadeCrop{
        width: 400px;
        height:400px;
    }
}

@media(max-width: 991px){
    .handmadeCrop{
        height: 300px;
        width: 300px;
    }
}

@media(max-width: 707px){
    .handmadeCrop {
        height: 450px;
        width: 450px;
    }
}

@media(max-width: 550px){
    .handmadeCrop{
        height: 300px;
        width: 300px;
    }
}

.padded{
    padding: 15px;
}

h4{
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    position:absolute;
    display:none;
    top: 5%;
    left: 5%;
}

.handmadeCrop:hover{
    opacity:1;
}

.handmadeCrop h4:hover{
    text-decoration: none;
}

.cardImg{
    visibility: hidden;
}

.navbar{
    font-size: 22px;
}

body{
    background-image: url(watercolor.jpg);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron{
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 68, 68, 0);
}

#introtext{
    font-family: 'Dosis', sans-serif;
    color: black;
    text-align: center;
}

#minitext{
    font-family: 'Didact Gothic';
    font-size: 22px;
    color: black;
    text-align: center;
}

img{
    visibility: hidden;
}

#sortingText{
    color: white;
    font-family: 'Dosis', sans-serif;
    padding-left: 20px;
    line-height: 40%;
}
@media(max-width: 1199px){
    #sortingText{
        text-align: center;
    }
}

hr{
    color: white;
    border: solid 1.5px white;
    width: 100%;

}

.hrLine{
    padding-top: 30px;
}


/*
below are for the navbar
*/

.nav-justified > .active{
    background-color: indigo;
}
li{
    font-family: 'Dosis', sans-serif;
}

.nav-justified > li > a{
    color:white;
}

.nav-justified > li.artNav > a:hover {
    background: url('Halsemon-icon.jpg') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}

.nav-justified > li.homeNav > a:hover {
    background: url('home-icon.png') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}

.nav-justified > li.codeNav > a:hover {
    background: url('notaborealis-icon.png') no-repeat -20px 0;
    color:black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    transition: 0.2s linear background;
}