.container{
    border: solid 5px black;
}

.handmadeCrop{
    position:relative;

    width: 400px;
    height: 400px;
    overflow: hidden;
}

h4{
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    position:absolute;
    display:none;
    top: 5%;
    left: 5%;
}

.handmadeCrop h4:hover{
    text-decoration: none;
}

.cardImg{
    max-width: 300%;
    max-height: 300%;

    margin-top: -160px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: -180px;
}

.navbar{
    font-size: 22px;
}

body{
    background-image: url(watercolor.jpg);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}