{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>{{  artImgObjs.0.associated_piece.title  }}</title>
</head>
<div>

    {% include "navigation-bar.html" %}



        <div class="container holdsAll">



        <!-- carousel for multiple pics, got this from WC and edited it -->

        <div id="picCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              {%  for art in artImgObjs  %}
                {%  if forloop.counter0 == 0 %}
                    <li data-target="#picCarousel" data-slide-to="0" class="active"></li>
                {%  else %}
                    <li data-target="#picCarousel" data-slide-to={{ forloop.counter0 }}></li>
                {% endif %}
              {%  endfor %}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
              {% for art in artImgObjs %}
                  {% if forloop.counter0 == 0 %}
                      <div class="item active">
                  {%  else %}
                      <div class="item">
                  {%  endif %}

                        <img src={{  art.myImg  }}>
                    </div>
              {%  endfor %}
          </div>

          {% for numArt in artImgObjs %}
              {%  if forloop.counter0  >= 1 %}
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#picCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#picCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
              {% else %}
              <!-- no buttons for those with only 1 pic! -->
              {% endif %}
          {%  endfor %}
        </div> <!-- end of picCarousel -->


        <div class="border-between">

            <div class="col-md-8">
                <h1 class="card-title" id="descriptionText">{{  artImgObjs.0.associated_piece.title  }}</h1>
                <hr>
                <p id="theDescription">
                    {{ artImgObjs.0.associated_piece.description | safe }}
                </p>
            </div>
            <div class="col-md-4">
                <h1 class="card-title" id="infoText">Information</h1>
                <hr>
                <p id="theInfo">
                <h4 class="card-title" id="theInfo">Created</h4>
                </p>
                <p id="theData">
                    {{ artImgObjs.0.associated_piece.year|date:"N o" }}
                </p>
                <p id="theInfo">
                <h4 class="card-title" id="theInfo">Made With</h4>
                </p>
                <p id="theData">
                    {{ artImgObjs.0.associated_piece.madeWith }}
                </p>
            </div>

        </div>

    <div class="col-md-12 mrpadding"></div>

    </div> <!-- end of container -->



</body>
<script src="{% static 'detailJS.js' %}"></script>

</html>