{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>

    <meta charset="UTF-8">
    <title>Hahaha</title>
</head>
<body>

        <div class="navbar navbar-inverse bg-primary">
        <div class="container-fluid">
            <div class="navbar-header"></div>

            <ul class="nav nav-justified">
                <li><a href="http://127.0.0.1:8000/art">Art</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/">Home</a></li>
                <li><a href="http://127.0.0.1:8000/programming">Code</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <p>Wow hi</p>
    <p>
        {% for art in artImgObjs %}
    {{ art }}, {{  art.id  }}, {{  art.associated_piece  }}, {{  art.associated_piece.title  }}
        {% endfor %}
    </p>
    </div>



</body>
</html>