{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>

<div class="container">

<!--<div class="row" id="menubar"> -->
    <div class="container">
    <h2>
        <a href="http://127.0.0.1:8000/art"><span class="col-sm-4" id="artlink" >Art</span></a>
        <a href ="http://127.0.0.1:8000/"><span class="col-sm-4" id="homelink">Home</span></a>
        <a href="http://127.0.0.1:8000/programming"><span class="col-sm-4" id="programminglink">Code</span></a>
    </h2>
    </div>
<!--</div> -->
    <p></p>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Welcome to the homepage of Jillian Lovas</h1>
        </div>
    </div>

    <img src="/static/jillianlovas.jpg" class="img-circle" width="300" height="300"></img>

<div class="jumbotron">About Me... I should make this into a card I think... I should also use cards for my projects/art...
and I should put in some scrollspy as a final touch I think if I feel like it!</div>

<a class="btn btn-default" href="#" role="button">Contact Me</a>
</div>

</body>
</html>