{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>



<!--<div class="row" id="menubar"> -->
    <div class="container">
        <h2>
            <a href="http://127.0.0.1:8000/art"><span class="col-sm-4" id="artlink" >Art</span></a>
            <a href ="http://127.0.0.1:8000/"><span class="col-sm-4" id="homelink">Home</span></a>
            <a href="http://127.0.0.1:8000/programming"><span class="col-sm-4" id="programminglink">Code</span></a>
        </h2>
    </div>
<!--</div> -->

    <p></p>

    <div class="jumbotron jumbotron-fluid" >
        <div class="container">

        </div>
    </div>

    <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6 introcontainer">
        <div class="jumbotron">
            <h1 class="display-3" id="introtext">Welcome to the homepage of<br>Jillian Lovas</h1>
                <h2><small>A portfolio website of the art and coding projects I do</small></h2>

        </div>
    </div>
    </div>

    <div class="container">
        <div class="col-md-12 padme"></div>
    </div>

    <div class="container-fluid">

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                <h2 class="card-title">About Me</h2>
                    <p>
                        My name is Jillian Lovas! I'm an artist programmer, programming artist!
                        I'm a recent graduate from the University of Alberta with a degree in Specialization
                        in Computing Science. I enjoy creating things, so I initially thought I would be completing a
                        bachelor of Arts at my local college. My first year wasn't very satisfying, so I switched into the
                        sciences. I craved the problem-solving I used to do in my math classes, but I still wanted to be
                        creative in my field. Computing science was the best option, and it's really allowed me to combine
                        my interests in the best way possible.
                        I made this website in Django, and I used Bootstrap for the first time for the layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 imagecontainer">
            <div class="myimg center-block"></div>
        </div>
    </div>

<a class="btn btn-default" href="#" role="button">Contact Me</a>



<a href='http://www.freepik.com/free-photo/artistic-purple-watercolor-texture_1014794.htm'>Background designed by Freepik</a>

</body>
</html>